<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="text-center">
          Pawklan Recent User sign ups.
        </h4>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>
                ID
              </th>
              <th>
                User
              </th>
              <th>
                Date
              </th>
              <th>
                Mail
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each users}}
            <tr>
              <td>
                {{id}}
              </td>
              <td>
                {{name}}
              </td>
              <td>
                
              </td>
              <td>
                {{email}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>