<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <a href="/compose" class="btn btn-primary btn-block mb-3">Compose Mail</a>
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">Folders</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                        </button>
                    </div>
                    </div>
                    <div class="card-body p-0">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                        <a href="/sent" class="nav-link">
                            <i class="far fa-envelope"></i> Sent
                        </a>
                        </li>
                        <li class="nav-item">
                        <a href="/inbox" class="nav-link">
                            <i class="far fa-file-alt"></i> Inbox
                        </a>
                        </li>
                    </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Drafts</h3>

                    <div class="card-tools">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" placeholder="Search Mail">
                        <div class="input-group-append">
                        <div class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <div class="mailbox-controls">
                    <!-- Check all button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button>
                    </div>
                    <!-- /.btn-group -->
                    <!-- /.float-right -->
                    </div>
                    <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                        
                        <tbody>
                            {{#each drafts}}
                            <tr>
                                
                                <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
                                <td class="mailbox-subject"><b>{{subject}}</b> - <a href="/readMail?id={{id}}"><span class="small text-muted">click to view draft</span></a>
                                </td>
                                <td class="mailbox-date">{{time}}</td>
                                
                            </tr>
                            {{/each}}
                        </tbody>
                        
                    </table>
                    <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer p-0">
                    <div class="mailbox-controls">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fas fa-reply"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i></button>
                    </div>
                    <!-- /.btn-group -->
                    <button type="button" class="btn btn-default btn-sm"><i class="fas fa-sync-alt"></i></button>
                    <!-- /.float-right -->
                    </div>
                </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
