{{#section 'head'}}
    <link rel="stylesheet" href="/assets/owl-carousel-dis/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/owl-carousel-dis/assets/owl.theme.default.min.css">
{{/section}}
    <form action="/galleryUpload" method="post" enctype="multipart/form-data"
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="imageView" style="height: 65vh; width:100%;display: flex;">
                    <p><img id="output"  alt="" style="cursor: not-allowed;width:100%;height:100%; object-fit: contain;
                    align-self:center;align-content:center;"></p>
                </div>
                <input type="file" name="galleryImage" accept="image/*" onchange="loadFile(event)" class="form-file-control mt-2" id="galleryImage">
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="title">ADD TITLE</label>
                    <input type="text" name="galleryTitle" id="title" class="form-control">
                </div>
                <div class="form-group">
                    <label for="description">ADD DESCRIPTION</label>
                    <textarea name="galleryDesc" id="description" class="form-control" cols="30" rows="10"></textarea>
                </div>
                <input type="submit" class="btn btn-info text-right mt-2" style="float: right;" value="Upload Photo">
            </div>
        </div> 
    </form>
    <div class="container-fluid m-2">
        <div class="owl-carousel owl-theme">
            {{#each photos}}
            <div class="item">
                <img src="{{path}}" alt="" style="object-fit: fill;width:100%;height:250px;">
                <p class="small lead">{{title}}</p>
                <a href="/delete-image?id={{id}}" class="btn btn-block btn-outline-danger">
                <i class="far fa-trash-alt"></i>Delete</a>
            </div>
            {{/each}}
        </div>
    </div>
{{!-- Owl carousel script --}}
{{#section 'javascripts'}}
    <script src="/assets/owl-carousel-dis/owl.carousel.min.js"></script>
    <script src="/javascripts/galleryControl.js"></script>
{{/section}}