<div id="mymodal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <h5>Please select country</h5>
                <button type="button" class="btn btn-sm close" data-dismiss="modal">&times;</button:button>
            </div>
            <div class="modal-body">
                <p class="alert alert-secondary">Pawklan would use the currency of selected country</p>
                <form action="/getCurrency" method="post">
                    <label>Country</label>
                    <select name="countryCode" id="countryCode" class="form-control">
                        <option value="AFN">Afghanistan</option>
                        <option value="EUR">Aland Islands</option>
                        <option value="ALL">Albania</option>
                        <option value="DZD">Algeria</option>
                        <option value="USD">American Samoa</option>
                        <option value="EUR">Andorra</option>
                        <option value="AOA">Angola</option>
                        <option value="XCD">Anguilla</option>
                        <option value="XCD">Antigua and Barbuda</option>
                        <option value="ARS">Argentina</option>
                        <option value="AMD">Armenia</option>
                        <option value="AWG">Aruba</option>
                        <option value="AUD">Australia</option>
                        <option value="EUR">Austria</option>
                        <option value="AZN">Azerbaijan</option>
                        <option value="BSD">Bahamas</option>
                        <option value="BHD">Bahrain</option>
                        <option value="BDT">Bangladash</option>
                        <option value="BBD">Barbados</option>
                        <option value="BYR">Belarus</option>
                        <option value="EUR">Belguim</option>
                        <option value="BZD">Belize</option>
                        <option value="XOF">Benin</option>
                        <option value="BMD">Bermuda</option>
                        <option value="BTN">Bhutan</option>
                        <option value="BOB">Bolivia, Plurinational state-of</option>
                        <option value="USD">Bonaire, Sint Eustatius and Saba</option>
                        <option value="BAM">Bosnia and Herzegovina</option>
                        <option value="BWP">Botswana</option>
                        <option value="NOK">Bouvet Island</option>
                        <option value="BRL">Brazil</option>
                        <option value="USD">British Indian Ocean Territory</option>
                        <option value="BND">Brunei Darussalam</option>
                        <option value="BGN">Bulgaria</option>
                        <option value="XOF">Burkina Faso</option>
                        <option value="BIF">Burundi</option>
                        <option value="CVE">Cabo Verde</option>
                        <option value="KHR">Cambodia</option>
                        <option value="XAF">Cameroon</option>
                        <option value="CAD">Canada</option>
                        <option value="KYD">Cayman Islands</option>
                        <option value="XAF">Central African Republic</option>
                        <option value="XAF">Chad</option>
                        <option value="CLP">Chile</option>
                        <option value="CNY">China</option>
                        <option value="AUD">Chrismas Island</option>
                        <option value="AUD">Cococ(Keeling) Islands</option>
                        <option value="COP">Colombia</option>
                        <option value="KMF">Comoros</option>
                        <option value="XAF">Congo</option>
                        <option value="CDF">Congo, Democratic Republic</option>
                        <option value="NZD">Cook Islands</option>
                        <option value="CRC">Costa Rica</option>
                        <option value="XOF">Cote D'Ivoire</option>
                        <option value="HRK">Croatia</option>
                        <option value="CUP">Cuba</option>
                        <option value="ANG">Curaco</option>
                        <option value="CYP">Cyprus</option>
                        <option value="CZK">Czech Republic</option>
                        <option value="DKK">Denmark</option>
                        <option value="DJF">Djibouti</option>
                        <option value="XCD">Dominica</option>
                        <option value="DOP">Dominican Republic</option>
                        <option value="USD">Ecuador</option>
                        <option value="EGP">Egypt</option>
                        <option value="SVC">El Salvador</option>
                        <option value="XAF">Equatorial Guinea</option>
                        <option value="ERN">Eritrea</option>
                        <option value="EUR">Estonia</option>
                        <option value="ETB">Ethiopian</option>
                        <option value="EUR">European Economic and Monetary Union area</option>
                        <option value="FKP">Falkland Islands(Malvinas)</option>
                        <option value="DKK">Faroe Islands</option>
                        <option value="FJD">Fiji</option>
                        <option value="EUR">Finland</option>
                        <option value="EUR">France</option>
                        <option value="EUR">French Guiana</option>
                        <option value="XPF">French Polynesia</option>
                        <option value="EUR">French Southern Territories</option>
                        <option value="XAF">Gabon</option>
                        <option value="GMD">Gambia</option>
                        <option value="GEL">Georgia</option>
                        <option value="EUR">Germany</option>
                        <option value="GHS">Ghana</option>
                        <option value="GIP">Gibraltar</option>
                        <option value="EUR">Greece</option>
                        <option value="DKK">Greenland</option>
                        <option value="XCD">Grenada</option>
                        <option value="EUR">Guadeloupe</option>
                        <option value="USD">Guam</option>
                        <option value="GTQ">Guatemala</option>
                        <option value="GBP">Guernsey</option>
                        <option value="GNF">Guinea</option>
                        <option value="GWP">Guinea-Bissau</option>
                        <option value="GYD">Guyana</option>
                        <option value="HTG">Haiti</option>
                        <option value="AUD">Heard Island and McDonald Islands</option>
                        <option value="EUR">Holy See (Vatican City State)</option>
                        <option value="HNL">Honduras</option>
                        <option value="HKD">Hong Kong</option>
                        <option value="HUF">Hungary</option>
                        <option value="ISK">Iceland</option>
                        <option value="INR">India</option>
                        <option value="IDR">Indonesia</option>
                        <option value="IRR">Iran, Islamic Republic</option>
                        <option value="IQD">Iraq</option>
                        <option value="EUR">Ireland</option>
                        <option value="GBP">Isle of Man</option>
                        <option value="ILS">Isreal</option>
                        <option value="EUR">Italy</option>
                        <option value="JMD">Jamaica</option>
                        <option value="JPY">Japan</option>
                        <option value="GBP">Jersey</option>
                        <option value="JOD">Jordan</option>
                        <option value="KZT">Kazakhstan</option>
                        <option value="KES">Kenya</option>
                        <option value="AUD">Kiribati</option>
                        <option value="KPQ">Korea,Democratic People's Republic</option>
                        <option value="KPW">Korea, Republic</option>
                        <option value="KWD">Kuwait</option>
                        <option value="KGS">Kyrgyzstan</option>
                        <option value="LAK">Lao People's Democratic Republic</option>
                        <option value="EUR">Latvia</option>
                        <option value="LBP">Lebanon</option>
                        <option value="LSL">Lesotho</option>
                        <option value="LRD">Liberia</option>
                        <option value="LYD">Libya</option>
                        <option value="CHF">Liechtenstein</option>
                        <option value="EUR">Lithuenia</option>
                        <option value="EUR">Luxemborg</option>
                        <option value="MOP">Macao</option>
                        <option value="MKD">Macedonia, The Former Yugoslav Republic of</option>
                        <option value="MGA">Madagascar</option>
                        <option value="MWK">Malawi</option>
                        <option value="MYR">Malaysia</option>
                        <option value="MVR">Maldives</option>
                        <option value="XOF">Mali</option>
                        <option value="EUR">Malta</option>
                        <option value="MRO">Mauritania</option>
                        <option value="MUR">Mauritius</option>
                        <option value="EUR">Mayotte</option>
                        <option value="MXN">Mexico</option>
                        <option value="USD">Micronesia, Federated States of</option>
                        <option value="MDL">Moldovia, Republic</option>
                        <option value="EUR">Monaco</option>
                        <option value="MXN">Mongolia</option>
                        <option value="USD">Montenegro</option>
                        <option value="MDL">Montserrat</option>
                        <option value="EUR">Morocco</option>
                        <option value="MNT">Mongolia</option>
                        <option value="EUR">Montenegro</option>
                        <option value="XCD">Montserrat</option>
                        <option value="MAD">Morocco</option>
                        <option value="MZN">Mozambique</option>
                        <option value="MMK">Myanmar</option>
                        <option value="NAD">Namibia</option>
                        <option value="AUD">Nauru</option>
                        <option value="NPR">Nepal</option>
                        <option value="EUR">Netherlands</option>
                        <option value="XPF">New Caledonia</option>
                        <option value="NZD">New Zealand</option>
                        <option value="NIO">Nicaragua</option>
                        <option value="XOF">Niger</option>
                        <option value="NGN">Nigeria</option>
                        <option value="NZD">Niue</option>
                        <option value="AUD">Norfolk Island</option>
                        <option value="USD">Northern Mariana Islands</option>
                        <option value="NOK">Norway</option>
                        <option value="OMR">Oman</option>
                        <option value="PKR">Pakistan</option>
                        <option value="USD">Palau</option>
                        <option value="PAB">Panama</option>
                        <option value="PGK">Papua New Guinea</option>
                        <option value="PYG">Paraguay</option>
                        <option value="PEN">Peru</option>
                        <option value="PHP">Philippines</option>
                        <option value="NZD">Pitcairn</option>
                        <option value="PLN">Poland</option>
                        <option value="EUR">Portugal</option>
                        <option value="USD">Puerto Rico</option>
                        <option value="QAR">Qatar</option>
                        <option value="EUR">Reunion</option>
                        <option value="RON">Romania</option>
                        <option value="RUB">Russian Federation</option>
                        <option value="RWF">Rwanda</option>
                        <option value="EUR">Saint Barthelemy</option>
                        <option value="SHP">Saint Helena,Ascension and Tristan Da Cunha</option>
                        <option value="XCD">Saint Kitts and Nevis</option>
                        <option value="XCD">Saint Lucia</option>
                        <option value="EUR">Saint Martin (French Part)</option>
                        <option value="EUR">Saint Pierre and Miquelon</option>
                        <option value="XCD">Saint Vincent and The Grenadines</option>
                        <option value="WST">Samoa</option>
                        <option value="EUR">San Marino</option>
                        <option value="STD">Sao Tome and Principe</option>
                        <option value="SAR">Saudi Arabia</option>
                        <option value="XOF">Senegal</option>
                        <option value="RSD">Serbia</option>
                        <option value="SCR">Seychelles</option>
                        <option value="SLL">Sierra Leone</option>
                        <option value="SGD">Singapore</option>
                        <option value="ANG">Sint Maarten (Dutch Part)</option>
                        <option value="EUR">Slovakia</option>
                        <option value="EUR">Slovenia</option>
                        <option value="SBD">Solomon Islands</option>
                        <option value="SOS">Somalia</option>
                        <option value="ZAR">South Africa</option>
                        <option value="SSP">South Sudan</option>
                        <option value="EUR">Spain</option>
                        <option value="LKR">Sri Lanka</option>
                        <option value="SDG">Sudan</option>
                        <option value="SRD">Suriname</option>
                        <option value="NOK">Svalbard and Jan Mayen</option>
                        <option value="SZL">Swaziland</option>
                        <option value="SEK">Sweden</option>
                        <option value="CHF">Switzerland</option>
                        <option value="SYP">Syrian Arab Republic</option>
                        <option value="TWD">Taiwan,Province of China</option>
                        <option value="TJS">Tajikistan</option>
                        <option value="TZS">Tanzania, United Republic of</option>
                        <option value="THB">Thailand</option>
                        <option value="USD">Timor-Leste</option>
                        <option value="XOF">Togo</option>
                        <option value="NZD">Tokelau</option>
                        <option value="TOP">Tongo</option>
                        <option value="TTD">Trindad and Tobago</option>
                        <option value="TND">Tunisia</option>
                        <option value="TRY">Turkey</option>
                        <option value="TMM">Turkmenistan</option>
                        <option value="USD">Turks and Caicos</option>
                        <option value="AUD">Tuvalu</option>
                        <option value="UGX">Uganda</option>
                        <option value="UAH">Ukraine</option>
                        <option value="AED">Uniten Arab Emirates</option>
                        <option value="GDP">United Kingdom</option>
                        <option value="USD">United States</option>
                        <option value="USD">United States Minor Outlying Islands</option>
                        <option value="UYU">Uruguay</option>
                        <option value="UZS">Uzbekistan</option>
                        <option value="VUV">Vanuatu</option>
                        <option value="VEF">Venezuela, Bolivarian Republic of</option>
                        <option value="VND">Viet Nam</option>
                        <option value="USD">Virgin Islands, British</option>
                        <option value="USD">Virgin Islands, U.S</option>
                        <option value="XPF">Wallis and Futuana</option>
                        <option value="MAD">Western Sahara</option>
                        <option value="YER">Yemen</option>
                        <option value="ZMK">Zambia</option>
                        <option value="ZWD">Zimbabwe</option>
                    </select>
                    <input type="submit" id="modelSubmit" class="btn btn-block" value="Submit">
                </form>
            </div>
        </div>
    </div>
    </div>