
     <div class="jumbotron-fluid brand-jumbo">
        <nav class="navbar navbar-expand-lg navbar-light nav-edit">
        <a class="navbar-brand" href="/" style="color: white;">PawKlan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/" style="color: white;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop" style="color: white;">Shop</a>
                </li>
                <li class="nav-item">
                    <a href="/categories" class="nav-link" style="color: white;">Categories</a>
                </li>
                <li class="nav-item active">
                    <a href="/about" class="nav-link" style="color: white;">Our brand</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        </nav>
        <div class="container-fluid about-content">
            <p class="display-4 ml-5">
                Our brand
            </p>
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <img src="/images/background_image.jpg" alt=""
                    class="img-fluid shadow-lg" style="object-fit:contain; 
                    width:100%; height:80%">
                </div>
                <div class="col-sm-12 col-md-7">
                    <p class="text-center lead" style="color: rgb(255, 255, 255);">
                        About us
                        <br>
                        Paw klan is the dream in reality bringing out the natural beauty of the wild into our life. 
                        It also symbolizes deep emotion , limitless empowerment  and raw passion.
                        Pawklan according to a user from the Caribbean meaning power / leadership .
                        Under the new vision of our creative directors Austin and Stephan , 
                        Pawklan products represent the influential and struggle of the Negro’s popularly know for their eclectic , romantic and blessed culture .
                        Paw klan collection is extraordinarily amazing , having good taste in style .
                    </p>
                </div>
            </div>
        </div>
     </div>
     {{>footer}}

