<div class="jumbotron-fluid brand-jumbo">
    <nav class="navbar navbar-expand-lg navbar-dark nav-edit">
        <span><img src="/images/logoimgdark-removebg-preview (1).png" id="navlogo" alt=""></span>
        <a class="navbar-brand ch" href="/">PawKlan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" ></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ch">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item ch">
                    <a class="nav-link" href="/shop">Shop</a>
                </li>
                <li class="nav-item ch">
                    <a href="/categories" class="nav-link" >Categories</a>
                </li>
                <li class="nav-item ch">
                    <a href="/gallery" class="nav-link">Gallery</a>
                </li>
                <li class="nav-item ch active">
                    <a href="/about" class="nav-link">Our brand</a>
                </li>
                <li class="nav-item ch">
                    <a href="/cart" class="nav-link">Cart</a>
                </li>
                <li class="nav-item ch">
                    <a href="/wishlist" class="nav-link">Wishlist</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="searchForm" type="search" placeholder="Search" aria-label="Search">
                {{#if user}}
                <a href="/logout" class="btn ml-2 my-2 my-sm-0 footer-btn" id="loginbtn">
                    Log Out
                    <span class="fas fa-sign-out-alt" style="color: white;" ></span>
                </a>
                {{else}}
                <a href="/login" class="btn ml-2 my-2 my-sm-0 footer-btn" id="loginbtn" style="color: white;">
                    Login
                    <span class="fas fa-sign-in-alt" style="color: white;"></span>
                </a>
            {{/if}}
            </form>
        </div>
    </nav>
    <div class="container-fluid about-content">
        <p class="display-4 ml-5" id="about-header">
            Our brand
        </p>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <img src="/images/logoimgdark-removebg-preview (1).png" alt=""
                 style="object-fit:contain; 
                width:100%; height:100%">
            </div>
            <div class="col-sm-12 col-md-7">
                <p class="text-center" id="about-header" style="color: rgb(255, 255, 255);">
                    About us
                </p>
                <p id="about-text">
                    Paw klan is the dream in reality bringing out the natural beauty of the wild into our life. 
                    It also symbolizes deep emotion , limitless empowerment  and raw passion.
                    Pawklan according to a user from the Caribbean meaning power / leadership .
                    Under the new vision of our creative directors Austin and Stephan , 
                    Pawklan products represent the influential and struggle of the Negro’s popularly know for their eclectic , romantic and blessed culture .
                    Paw klan collection is extraordinarily amazing , having good taste in style .
                </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-8 col-md-4 mx-auto" id="contact">
                <form action="/contact" method="post">
                    <p class="text-center" id="about-text">
                        Hey care to leave a review or complain please send it to our wonderful team
                    </p>
                    <div class="form-group">
                        <label for="contact-mail">Email: </label>
                        <input type="email" name="contact-mail" value="{{email}}" id="contact-mail" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="contact-text">Message: </label>
                        <textarea name="contact-text" id="contact-text" class="form-control" rows="5"></textarea>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-block btn-outline-secondary">
                </form>
            </div>
        </div>
    </div>
</div>
{{>footer}}

