{{!-- Use nice loader Image --}}
<div class="loader" id="load"></div>
<!--lauch modal-->
{{>currencyModal}}
<div id="contents">
    <header>
    <!--navbar start-->
    <!--landing page header-->
    <div class="jumbotron-fluid index-jumbotron shadow-lg">
        <nav class="navbar navbar-expand-lg navbar-light">
        <span><img src="/images/logoimagepawklan-removebg-preview.png" id="navlogo" alt=""></span>
        <a class="navbar-brand" href="#">PawKlan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a href="/categories" class="nav-link">Categories</a>
                </li>
                <li class="nav-item">
                    <a href="/gallery" class="nav-link">Gallery</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">Our brand</a>
                </li>
                <li class="nav-item">
                    <a href="/cart" class="nav-link">Cart</a>
                </li>
                <li class="nav-item">
                    <a href="/wishlist" class="nav-link">WishList</a>
                </li>
                <li class="nav-item" id="currencyLink">
                    <a class="nav-link">{{currency}}</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="dropdown">
                    <input class="form-control mr-sm-2 dropdown-toggle" name="searchForm" id="dropdown" onkeyup="showResults(this.value)" type="search"
                    placeholder="Search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" autocomplete="off"
                    aria-label="Search" style="width: 100%;">
                    </input>
                    <div style="position: relative ;width:100% ;top:-1px;background-color:white;">
                        <div class="border search-drop dropdown-menu" id="search-results" aria-labelledby="dropdown">
                        </div>
                    </div>
                </div>
                {{#if user}}
                    <a href="/logout" class="btn ml-2 my-2 my-sm-0 footer-btn" id="loginbtn">
                        Log Out
                        <span class="fas fa-sign-out-alt" style="color: white;" ></span>
                    </a>
                    {{else}}
                    <a href="/login" class="btn ml-2 my-2 my-sm-0 footer-btn" id="loginbtn">
                        Login
                        <span class="fas fa-sign-in-alt" style="color: white;"></span>
                    </a>
                {{/if}}
            </form>
        </div>
        </nav>
        <!--end of navbar--> 
        <span id="jumbo-btn">
            <a href="/shop" class="btn jumbo-btn footer-btn shadow" >Shop</a>
        </span>
    </div>
</header>

<!--main body-->
<section>
    <div class="container">
        <h5 class="lead text-center mt-5" id="brand-slang">Our Brand, your style</h5>
        <div class="row mt-2">
            <!--paw klan logo-->
            <div class="col-sm-10 col-md-6 mx-auto" id="indexImageHolder">
                <img src="/images/Pawlogopng.png" alt="" class="logo-img mt-2">
            </div>
        </div>  
    </div>
</section>
<section>
<!--CAROUSEL USING OWLCAROUSEL-->
<div class="owl-carousel owl-theme">
    {{#each photos}}
    <div class="item">
        <img src="{{path}}" alt=""
        class="img-fluid" id="carousel-image shadow-lg">
    </div>
    {{/each}}
</div>
</section>
<section class="mb-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 mx-auto">
                <p class="lead text-center" id="about-text">Hey want to receive updates on latest products?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-10 mx-auto">
                <form action="/subEmail" method="post">
                        <div class="row">
                            <div class="col-sm-6 col-md-10">
                                <input type="text" class="form-control" id="land-form" name="email" placeholder="Enter you email address">
                            </div>
                            <div class="col-sm-6 col-md-2">
                                <button type="submit" class="btn btn-secondary" id="land-form-submit">Submit</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</section>
{{>footer}}
</div>
<script src="/assets/jquery-3.5.1.js"></script>
