<div class="jumbotron-fluid shop-jumbo">
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light shop-nav">
      <span><img src="/images/logoimagepawklan-removebg-preview.png" id="navlogo" alt=""></span>
        <a class="navbar-brand" href="#">
          PawKlan
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/shop">Shop<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a href="/categories" class="nav-link">Categories</a>
            </li>
            <li class="nav-item">
                <a href="/gallery" class="nav-link">Gallery</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link">Our brand</a>
            </li>
            <li class="nav-item">
                <a href="/cart" class="nav-link">Cart</a>
            </li>
            <li class="nav-item">
                <a href="/wishlist" class="nav-link">Wishlist</a>
            </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="searchForm" type="search" placeholder="Search" aria-label="Search">
                {{#if user}}
                <a href="/logout" class="btn ml-2 my-2 my-sm-0 footer-btn" id="loginbtn">
                    Log Out
                    <span class="fas fa-sign-out-alt" style="color: white;" ></span>
                </a>
                {{else}}
                <a href="/login" class="btn ml-2 my-2 my-sm-0 footer-btn" id="loginbtn">
                    Login
                    <span class="fas fa-sign-in-alt" style="color: white;"></span>
                </a>
            {{/if}}
            </form>
        </div>
    </nav>
    <div class="intro-text">
        <h3><span><img src="/images/logoimagepawklan-removebg-preview.png" id="navlogo" alt=""></span>
        Welcome to Pawklan</h3>
        <h6>Let's make your fashion desires come true</h6>
    </div>
</div>
<section>
    <div class="container">
        <p class="best-sellers">
            Best Offers 
        </p>
        {{!-- Featured product --}}
        <div class="owl-carousel owl-theme" id="owl-one">
            <div class="item">
                <div class="card">
                    <div class="featuredImageHolder">
                        <a><img src="/images/IMG_4811.JPG" id="featuredImage"></a>
                        <span class="badge badge-sm badge-secondary" id="discount">
                            20% off
                        </span>
                    </div>
                    <p class="product-text">Nice tops</p>
                    <p class="price-text">$100.00</p>
                </div>
            </div>
            <div class="item">
                <div class="card">
                    <div class="featuredImageHolder">
                        <a><img src="/images/IMG_4811.JPG" id="featuredImage"></a>
                        <span class="badge badge-sm badge-secondary" id="discount">
                            20% off
                        </span>
                    </div>
                    <p class="product-text">Nice tops</p>
                    <p class="price-text">$100.00</p>
                </div>
            </div>
            <div class="item">
                <div class="card">
                    <div class="featuredImageHolder">
                        <a><img src="/images/IMG_4811.JPG" id="featuredImage"></a>
                        <span class="badge badge-sm badge-secondary" id="discount">
                            20% off
                        </span>
                    </div>
                    <p class="product-text">Nice tops</p>
                    <p class="price-text">$100.00</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    {{!-- Most orders --}}
    <div class="container">
        <p class="most-orders">
            Most Orders
        </p>
        <div class="owl-carousel owl-theme" id="owl-two">
            <div class="item">
                <div class="card">
                    <div class="featuredImageHolder">
                        <a><img src="/images/IMG_5006.JPG" id="featuredImage"></a>
                        <span class="badge badge-sm badge-secondary" id="discount">
                            20% off
                        </span>
                    </div>
                    <p class="product-text">Nice tops</p>
                    <p class="price-text">$100.00</p>
                </div>
            </div>
            <div class="item">
                <div class="card">
                    <div class="featuredImageHolder">
                        <a><img src="/images/IMG_5006.JPG" id="featuredImage"></a>
                        <span class="badge badge-sm badge-secondary" id="discount">
                            20% off
                        </span>
                    </div>
                    <p class="product-text">Nice tops</p>
                    <p class="price-text">$100.00</p>
                </div>
            </div>
            <div class="item">
                <div class="card">
                    <div class="featuredImageHolder">
                        <a><img src="/images/IMG_5006.JPG" id="featuredImage"></a>
                        <span class="badge badge-sm badge-secondary" id="discount">
                            20% off
                        </span>
                    </div>
                    <p class="product-text">Nice tops</p>
                    <p class="price-text">$100.00</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    {{!-- New Arrivals --}}
    
</section>
{{>footer}}
{{#section 'javascript'}}
    <script>
        //$('document').ready(function(){
            $('#owl-one').owlCarousel({
                loop: true,
                margin:10,
                nav:true,
                autoplay: true,
                autoplayTimeout: 1000,
                autoplayHoverPause:true,
                autoWidth: true,
                responsiveClass: true,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:3
                    },
                    1000:{
                        items:3
                    }
                }
            });
            $('#owl-two').owlCarousel({
                loop: true,
                margin:10,
                nav:true,
                autoplay: true,
                autoplayTimeout: 1000,
                autoplayHoverPause:true,
                autoWidth: true,
                responsiveClass: true,
                responsive:{
                    0:{
                        items:2
                    },
                    600:{
                        items:4
                    },
                    1000:{
                        items:4
                    }
                }
            });
       // })
    </script>
{{/section}}