<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg shop-nav">
    <span><img src="/images/logoimagepawklan-removebg-preview.png" id="navlogo" alt=""></span>
    <a class="navbar-brand" href="#">PawKlan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/shop">Shop</a>
        </li>
        <li class="nav-item">
            <a href="/categories" class="nav-link">Categories</a>
        </li>
        <li class="nav-item">
            <a href="/gallery" class="nav-link">Gallery</a>
        </li>
        <li class="nav-item">
            <a href="/about" class="nav-link">Our brand</a>
        </li>
        <li class="nav-item">
            <a href="/cart" class="nav-link">Cart</a>
        </li>
        <li class="nav-item">
            <a href="/wishlist" class="nav-link">Wishlist</a>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="searchForm" type="search" placeholder="Search" aria-label="Search">
                {{#if user}}
                <a href="/logout" class="btn ml-2 my-2 my-sm-0 footer-btn" id="loginbtn">
                    Log Out
                    <span class="fas fa-sign-out-alt" style="color: white;" ></span>
                </a>
                {{else}}
                <a href="/login" class="btn ml-2 my-2 my-sm-0 footer-btn" id="loginbtn">
                    Login
                    <span class="fas fa-sign-in-alt" style="color: white;"></span>
                </a>
            {{/if}}
        </form>
    </div>
</nav>
<div class="jumbotron text-center" style="height: 55vh;">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead" style="font-family: cursive;"><strong>Thanks for your patronage</strong> expect delivery within 7 days</p><br>
  <p class="small" style="font-family: cursive;">terms and conditions apply.</p>
  <hr>
  <p>
    Having trouble? <a href="/about#contact">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-secondary btn-sm" href="/" role="button">Continue to homepage</a>
  </p>
</div>
{{>footer}}