@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
}
a {
  color: #00B7FF;
  font-weight: normal;
}
a .active{
  font-weight: 900px;
}
.search-drop{
  opacity: 0.7;
}
#search-st{
  font-weight: 800;
}
#search-cn{
  font-size: 12px;
  margin-left: 10px;
  font-style: normal;
  font-family: cursive;
  font-weight: lighter;

}
.search-result{
  margin-left: 5px;
  font-size: 18px;
  color: black;
  text-align: left;
  font-family: cursive;
}
/* -------------------- */
/* LANDING PAGE */
/* -------------- */
.loader{
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  z-index: 9999;
  background: url('/images/pawloader.gif') no-repeat center center rgba(0,0,0,0.50);
  background-color: black;
}
.modal{
  background-color: rgba(160, 160, 160, 0.87) !important;
}
.modal-header h5{
  font-family: cursive;
  font-size: 1.25rem;
  font-weight: 800;
  text-align: left;
  position: static;
  z-index: 9999;
}
.modal-body p{
  color: #000000;
  text-align: left;
  font-size: 0.75rem;
  font-family: cursive;
}
.modal-body form label{
  font-family: cursive;
}
select{
  font-family: cursive;
}
select option{
  line-height: 1rem;
  font-family: cursive;
  font-size: 0.8rem
}
.modal-body form input{
  margin-top: 10px !important;
  font-family: cursive !important;
  background-color: rgba(160, 160, 160, 0.87) !important;
}
.index-jumbotron{
  padding-bottom: 2rem;
  max-width: 100%;
  height: 100vh;
  color: rgb(0, 0, 0);
  background-image: url('/images/_MG_9794black\ andwhite.jpg') !important;
  background-size: cover;
  background-repeat: repeat;
  background-origin: border-box;
  background-attachment: scroll;
  background-position: center;
  background-blend-mode: lighten;
  image-rendering: auto;
  box-shadow: rgb(112, 111, 111) 0px 0px 5px 5px;
}
.navbar{
  font-family: -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
}
.navbar-brand{
  font-family: cursive;
  font-size: 2rem;
  color: rgb(71, 61, 3) !important;
}
.shop-nav .navbar-brand{
  color: black !important;
}
.shop-nav button span{
  color: black;
}
.shop-nav .collapse ul li a{
  color: black !important;
}
#navlogo{
  object-fit: cover;
  width: 50px;
  height: 50px;
}
#currencyLink a{
  width: 50px;
  border-radius: 10px;
  text-align: center;
  padding: auto;
  height: auto;
  background-color: rgb(212, 212, 212) !important;
}
.sitename{
  font-family: -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 20%;
  margin-left: 2%;
}
@media (min-width:600px){
  .jumbo-btn{
    width: 150px;
    height: auto;
  }
}
.jumbo-btn{
  font-family: cursive;
  /* background-color: rgb(206, 204, 204); */
  font-weight: bold;
  font-size: 30px;
  opacity: 0.7;
  z-index: 10px;
}
.jumbo-btn:hover{
  opacity: 1;
}
#jumbo-btn{
  float: right;
  margin-right: 10px;
  position: sticky;
  top: 80vh;
}
#indexImageHolder{
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  background-image: linear-gradient(gray white 2px);
}
.logo-img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.8;
}
#carousel-img{
  object-fit: cover;
  height: auto;
  max-width: 100%;

}
@media (max-width:600px){
  #land-form-submit{
    margin-left: 38%;
    margin-top: 5px;
  }
}
#land-form{
  width: 100%;
}
#land-form-submit{
  width: auto;
  background-color: lightgray;
  color: black;
  font-family: cursive;
  font-weight: 600;
  text-align: left;
}
.nav-item a{
  font-weight: bold;
  color: rgb(75, 65, 12) !important;
}
.nav-item a:hover{
  color: rgb(194, 186, 186) !important;
}
.ch{
  color: white !important;
}
.ch a{
  font-weight: bold;
  color: white !important;
}
.ch a:hover{
  color: rgb(211, 207, 207) !important;;
}
.active a{
  font-weight: 900;
}
.dropdown-menu{
  width: 100% !important;
  background-color: whitesmoke;
}
.dropdown-item:hover{
  background-color: rgb(160, 155, 155);
}
.dropdown-menu a{
  font-family: Cambria, Cochin, Georgia,
   Times, 'Times New Roman', serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  margin: 0px 0px 0px 0px;
  line-height: normal;
}
section{
  margin-top: 10px;
  margin-bottom: 5px;
}
#brand-slang{
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  font-weight: bolder;
  text-shadow: 2px 1px gray;
}
/* ---------------- */
/* FOOTER STYLE */
/* ----------------- */
.footer{
  margin-top: 0px;
  width: 100%;
  height: 20vh;
}
#payment-image{
  border-radius: 20px;
  width: 100%;
  height: 100px;
  object-fit: contain;
}

/* ---------------- */
/* About Page */
/* ---------------- */
.brand-jumbo{
  z-index: 2px;
  padding-bottom: 2rem;
  height: 100%;
  color: rgb(0, 0, 0);
  background-image: url('/images/about1.jpg') !important;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: lighten;
  image-rendering: auto;
  box-shadow: 5px;
}
.login-page{
  z-index: 2px;
  padding-bottom: 2rem;
  height: 100%;
  color: rgb(0, 0, 0);
  background-image: url('/images/about1.jpg') !important;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: lighten;
  image-rendering: auto;
  box-shadow: 5px;
  ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -ms-flex-pack: center;
  justify-content: center;
}
#login-text{
  color: #ffffff;
}
.about-content{
  color: #ffffff !important;
}
/* ------------- */
/* Shop page */
/* ------------- */
.shop-jumbo{
  display: block;
  max-width: 100%;
  background-image: url('/images/shop-loadingImg.jpg');
  max-height: 100%;
  object-fit: contain;
  background-origin: content-box;
  background-size: 100% 100%;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-position-y: inherit;
  background-attachment: scroll;
  height: 90vh;
  filter: opacity(90%);
  -webkit-filter: opacity(90%);
  box-shadow: rgb(112, 111, 111) 0px 0px 5px 5px;
}
@media(max-width: 600px){
  .shop-jumbo{
    height: 85vh;
  }
}
.intro-text{
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: (-1);
}
.intro-text img{
  object-fit: contain;
  width: 15rem;
  height: 15rem;
  margin-left: 10px;
}
.intro-text h3{
  font-size: 1.3em;
  font-weight: 900;
  font-family: cursive;
  color: black;
  text-shadow: white !important;
  text-rendering: geometricPrecision;
  text-size-adjust: auto;
  font-display: auto;
}
.intro-text h6{
  font-size: 0.8em;
  text-align: center;
  font-weight: 600;
  margin-left: 15px;
  font-family: cursive;
  color: rgb(44, 43, 44);
  text-orientation: upright;
}
.section-holder{
  width: 100%;
  height: 50px;
  padding: 5px;
  background-color: lightgray;
  border-radius: 10px;
  line-height: auto;
  margin-bottom: 5px;
}

.best-sellers{
  text-align: left;
  font-size: 1.5em;
  font-weight: 800;
  font-family: cursive;
  text-orientation: upright;
  color: rgb(44, 43, 44);
  text-shadow: 2px 1px gray;
  
}
.most-orders{
  text-align: left;
  font-size: 1.5em;
  font-weight: 800;
  font-family: cursive;
  text-orientation: upright;
  color: rgb(44, 43, 44);
  text-shadow: 2px 1px gray;
  line-height: auto;
}
.column-desc{
  width: 100%;
  height: 35px;
  padding: 5px;
  background-color: lightgray;
  border-radius: 10px;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  font-family: cursive;
  text-orientation: upright;
  color: rgb(44, 43, 44);
  text-shadow: 2px 1px gray;
  line-height: auto;
}
.product-text{
  font-size: 18px;
  text-shadow: -2px 1px gray;
  line-height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: left;
  color: black;
  font-weight: bolder;
  padding-left: 5px;
}
.price-text{
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
  text-shadow: 1px 1px gray;
  z-index: 1;
  font-size: 12px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: left;
  padding-left: 5px;  
}
#discount{
  text-align: center;
  color: white;
  font-size: 8px;
}
.featuredImageHolder{
  width: 100%;
  height: 80%;
  cursor: pointer;

}
.swiper-container {
  width: 85%;
  height: 450px;
  position: absolute;
  margin-left: -50px;
  margin-top: -50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.bottom-left .product-text{
  margin: 2px;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-left #discount{
  background-color: #00B7FF;
}
.bottom-left:hover{
  border-radius: 10px;
  padding: 3px;
  background-color: #67d0fa;
  text-decoration: none;
  transform: scale(0.8);
}
@media(max-width:850px){
  .bottom-left{
    position: absolute;
    bottom: 10px;
    left: 12px;
    border-radius: 10px;
    padding: 3px;
    background-color: #67d0fa;
    color: black;
    text-decoration: none;
    transform: scale(0.8);
  }
}
.item .card{
  border-color: rgb(228, 228, 228) !important;
  border: transparent !important;
  background-color: rgb(243, 243, 243);
}
.item .card:hover{
  background-color: lightgray;
}
.featuredImageHolder #featuredImage{
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
  border:transparent;
}
#featured{
  object-fit: fill;
  width: 100%;
  height: 100%;
  display: block;
}
#featured-text{
  font-family: cursive;
  color: inherit;
  text-align: center;
  margin-left: 4px;
  margin-right: 4px;
  text-rendering: auto;
  font-size: 2rem;
  font-weight: bolder;
  text-shadow: 3px 2px gray;
}
#featured-comment{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin-left: 2px;
  margin-right: 2px;
  font-weight: 700;
  line-height: auto;
  text-align: center;
  text-orientation: upright;
  color: rgb(71, 61, 3);
}
.list-item .row{
  display: flex;
}
.listImageholder{
  width: 8.5rem;
  height: 75%;
  margin: 0px;
  text-align: auto;
}
.list-group{
  list-style: none !important;
}
.listImageholder img{
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
  border-radius: 10%;
}
section .container-fluid{
  margin-top: 10px;
}
section li a{
  text-emphasis: none;
  text-decoration-line: none;
  text-decoration: none;
}
.col-8 a{
  margin-top: 10px;
  font-family: cursive;
  font-weight: 400;
}
.col-8 a span img{
  height: 25px;
  width: 25px;
  object-fit: contain;
}
#picture{
  width: 100%;
  height: 50%;
  object-fit: contain;
}
#loginbtn{
  border-radius: 25px;
  box-shadow: rgb(73, 72, 72) 0px 2px 2px 1px;
  background-color: inherit !important;
  color: black;
}
#loginbtn:hover{
  background-color: rgb(100, 97, 97) !important;
  border-radius: 25px;
}
@media(max-width: 850px){
  #loginbtn{
    background-color: rgb(100, 97, 97) !important;
    border-radius: 25px;
  }
}
.new-arrivals h5{
  width: 100%;
  height: 50px;
  padding: 5px;
  background-color: lightgray;
  border-radius: 10px;
  text-align: left;
  font-size: 1.5em;
  font-weight: 800;
  font-family: cursive;
  text-orientation: upright;
  color: rgb(44, 43, 44);
  text-shadow: 2px 1px gray;
  line-height: auto;
}
.new-arrivals .small{
  font-family: cursive;
}
.media img{
  border-radius: inherit;
  box-shadow: ivory 1px 1px 1px 1px;
  height: 4.5rem;
  width: 4.5rem;
  object-fit: cover;
}
.media{
  border-radius: 10px;
  margin: 5px 0px 0px 5px;
  padding: 2px;
  background-color: rgb(243, 243, 243);
}
.media:hover{
  background-color: lightgray;
}
.media-body #discount{
  margin-left: 5px;
}
.media a{
  text-decoration: none;
}
#info-container{
  width: 100%;
  height: auto;
  background-color: white;
  color: black;
}
#svgImg{
  width: 100%;
  height: 80px;
  object-fit: cover;
  text-align: right;
}
#svgImgmon{
  width: 100%;
  height: 75px;
  object-fit: contain;
  text-align: right;
}
.info-header{
  text-align: left;
  text-decoration: none;
  font-family: cursive;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 2px;
  line-height: 1.3rem;
}
.info-message{
  text-align: left;
  text-orientation: upright;
  font-family: cursive;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 0.8rem;
  word-wrap: normal;
  color: rgb(80, 101, 122);
}
.categories-intro{
  font-size: 1rem;
  color: lightslategray;
  margin-left: 5px;
  font-family: cursive;
}
#category-name{
  text-align: center;
  color: lightslategray;
  font-size: 1rem;
  font-family: cursive;
  font-weight: 400;
}
/* ================ */
/* Gallery Page */
/* ================== */
.galleryImg{
  border-radius: 5px;
  perspective: inherit;
  cursor: not-allowed;
  z-index: 1;
  object-fit: cover;
  width: 100%;
  height: 80%;
  box-shadow: rgb(66, 64, 64) -6px 3px 4px 1px ;
}
.gallImageName{
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  margin: 2px 0px 0px 2px;
  text-align: left;
  text-rendering: geometricPrecision;
  text-orientation: upright;
}
.gallImageDesc{
  color: rgb(83, 81, 81);
  margin: 2px 0px 0px 2px;
  font-family: cursive;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  text-overflow: inherit;
  text-orientation: upright;
  overflow: hidden;
}
#gallery{
  min-height: 65vh;
}
.content-wrapper-ui{
  background: inherit;
  width: 100%;
  height:100%;
}
.card-product{
  background-image: url('/images/background_image_fix.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* =================== */
/* Cart and wishList */
/* =================== */
#about-text{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
   Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: auto;
  text-align: center;
  text-orientation: upright;
  font-weight: 700;
}
#about-header{
  font-size: 30px;
  font-weight: 900;
  font-style: normal;
}

/* ------------------- */
  /* VIEW PRODDUCT PAGE */
/* -------------------- */
#product-tab a{
  color: black;
  font-family: cursive;
  font-weight: 600;
}
#nav-tabcontent #product-desc{
  font-family: cursive;
  font-weight: 500;
}
/* ------------------------- */
  /* CHECKOUT PAGE */
/* -------------------------- */
.topCheck .card{
  padding: 10px;
}
.topCheck .card h3{
  font-family: cursive;
  font-weight: 500;
  padding: 10px;
}
.topCheck .card .text-right{
  font-family: cursive;
  font-weight: 500;
  padding: 10px;
}
.topCheck .card ul{
  line-height: auto;
  font-family: cursive;
  padding: 10px;
  margin-top: 0px;
}
.topCheck .card ul li img{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 20px;
}
.topCheck .card li #holder{
  margin-top: 0px;
  line-height: 0.7rem;
}
.bottomCheck{
  padding: 10px;
}
.bottomCheck h3{
  padding: 10px;
  font-family: cursive;
  margin-top: 5px;
}
.bottomCheck a{
  margin-left: 5px;
  padding: 10px;
  font-family: cursive;
  margin-top: 5px;
}
.bottomCheck a img{
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.bottomCheck form{
  border-radius: 20px;
  padding: 20px;
  font-family: cursive;
  font-weight: 500;
}