<div class="container-fluid">
        <div class="section-desc">
            <h2>MEN's Fashion</h2>
        </div>
    <div class="row mx-auto">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="image-holder">
                    <img src="/images/about2.jpg" alt=".....picture">
                </div>
                <div class="category-description">
                    <h4 class="product-text">
                        Tops & Jackets
                    </h4>
                    <hr class="shadow-lg">
                    <h5 class="price-text">
                        Check out the Tops,Jackets, sweatshirts
                        in pawklan's collection
                    </h5>
                </div>
                <a href="/categories/tops" class="btn btn-block btn-dark">
                    View Collection
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="image-holder">
                    <img src="/images/IMG_5003.JPG" alt=".....picture">
                </div>
                <div class="category-description">
                    <h4 class="product-text">
                        Pant & shorts
                    </h4>
                    <hr>
                    <h5 class="price-text">
                        Check out the Plain pants, knickers,Trousers
                        in pawklan's collection
                    </h5>
                </div>
                <a href="/categories/pants" class="btn btn-block btn-dark">
                    View Collection
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="image-holder">
                    <img src="/images/IMG_5007.JPG" alt=".....picture">
                </div>
                <div class="category-description">
                    <h4 class="product-text">
                        Matching Sets & Outwear
                    </h4>
                    <hr>
                    <h5 class="price-text">
                        Check out the perfect Matching Sets and Outwears
                        in pawklan's collection
                    </h5>
                </div>
                <a href="/categories/matchingSet" class="btn btn-block btn-dark">
                    View Collection
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="image-holder">
                    <img src="/images/pk logo  1.jpg" alt=".....picture">
                </div>
                <div class="category-description">
                    <h4 class="product-text">
                        Underwear & Socks
                    </h4>
                    <hr>
                    <h5 class="price-text">
                        Check out the Under garments & quality socks
                        in pawklan's collection
                    </h5>
                </div>
                <a href="/categories/underwear" class="btn btn-block btn-dark">
                    View Collection
                </a>
            </div>
        </div>
    </div>
</div>