<div class="container-fluid">
        <div class="section-desc">
            <h2>Ladies Fashion</h2>
        </div>
    <div class="row mx-auto">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="image-holder">
                    <img src="/images/IMG_4813.JPG" alt=".....picture">
                </div>
                <div class="category-description">
                    <h4 class="product-text">
                        Tops & Jackets
                    </h4>
                    <hr class="shadow-lg">
                    <h5 class="price-text">
                        Check out the Tops,Jackets, sweatshirts
                        in pawklan's collection
                    </h5>
                </div>
                <a href="/female/tops" class="btn btn-block btn-dark">
                    View Collection
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="image-holder">
                    <img src="/images/IMG_4811.JPG" alt=".....picture">
                </div>
                <div class="category-description">
                    <h4 class="product-text">
                        Skirts & shorts
                    </h4>
                    <hr>
                    <h5 class="price-text">
                        Check out the fascinating Shorts, skirts 
                        in pawklan's collection
                    </h5>
                </div>
                <a href="/female/shorts" class="btn btn-block btn-dark">
                    View Collection
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="image-holder">
                    <img src="/images/IMG_4813.JPG" alt=".....picture">
                </div>
                <div class="category-description">
                    <h4 class="product-text">
                        Dresses
                    </h4>
                    <hr>
                    <h5 class="price-text">
                        Check out the fascinating dresses & gowns 
                        in pawklan's collection
                    </h5>
                </div>
                <a href="/female/dresses" class="btn btn-block btn-dark">
                    View Collection
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="image-holder">
                    <img src="/images/IMG_5008.JPG" alt=".....picture">
                </div>
                <div class="category-description">
                    <h4 class="product-text">
                        Matching Sets & Outwear
                    </h4>
                    <hr>
                    <h5 class="price-text">
                        Check out the perfect Matching Sets and Outwears
                        in pawklan's collection
                    </h5>
                </div>
                <a href="/female/outwear" class="btn btn-block btn-dark">
                    View Collection
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="image-holder">
                    <img src="/images/pk logo  1.jpg" alt=".....picture">
                </div>
                <div class="category-description">
                    <h4 class="product-text">
                        Underwear & Socks
                    </h4>
                    <hr>
                    <h5 class="price-text">
                        Check out the Under garments & quality socks
                        in pawklan's collection
                    </h5>
                </div>
                <a href="/female/underwear" class="btn btn-block btn-dark">
                    View Collection
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    var categories = document.getElementById('categories');
    var men = document.getElementById('men');
    var female =document.getElementById('female');

    categories.classList.remove('active');
    men.classList.remove('active');
    female.classList.add('active');
</script>
