<div class="container-fluid">
        <div class="section-desc">
            <h2>Caps & Hats</h2>
        </div>
    <div class="row mx-auto">
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="card">
                <div class="image-holder">
                    <img src="/images/pk logo  1.jpg" alt=".....picture">
                </div>
                <div class="category-description">
                    <h4 class="product-text">
                        Gents
                    </h4>
                    <hr class="shadow-lg">
                    <h5 class="price-text">
                        Check out the classy Hats and Caps for men
                        in pawklan's collection
                    </h5>
                </div>
                <a href="/headwear/male" class="btn btn-block btn-dark">
                    View Collection
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="card">
                <div class="image-holder">
                    <img src="/images/pk logo  1.jpg" alt=".....picture">
                </div>
                <div class="category-description">
                    <h4 class="product-text">
                        Ladies
                    </h4>
                    <hr>
                    <h5 class="price-text">
                        Check out the fascinating Hats,caps
                        in pawklan's collection
                    </h5>
                </div>
                <a href="/headwear/female" class="btn btn-block btn-dark">
                    View Collection
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="card">
                <div class="image-holder">
                    <img src="/images/pk logo  1.jpg" alt=".....picture">
                </div>
                <div class="category-description">
                    <h4 class="product-text">
                        Kids
                    </h4>
                    <hr>
                    <h5 class="price-text">
                        Check out the fascinating Hats and Caps for your Kids
                        in pawklan's collection
                    </h5>
                </div>
                <a href="/headwear/children" class="btn btn-block btn-dark">
                    View Collection
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    var categories = document.getElementById('categories');
    var men = document.getElementById('men');
    var headwear =document.getElementById('headwear');

    categories.classList.remove('active');
    men.classList.remove('active');
    headwear.classList.add('active');
</script>
{{#section 'javascript'}}
    <script>
        $('document').ready(function(){
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin:10,
                nav:true,
                autoWidth: true,
                responsiveClass: true,
                responsive:{
                    0:{
                        items:2
                    },
                    600:{
                        items:3
                    },
                    1000:{
                        items:5
                    }
                }
            });
        })
    </script>
{{/section}}